* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.479);
  color: #fff;
  display: none;
  z-index: 111;
}
.display-overlay {
  display: block;
}

.overlay .form {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  height: 355px;
  border-radius: 20px;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.overlay .form input {
  min-width: 386px;
  max-width: 380px;
}

.icon {
  cursor: pointer;
  background: #0d6efd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}

input[type="checkbox"] {
  cursor: pointer;
  border: 2px solid #000;
}

.color {
  background-color: #dc3545;
}
/* .close-week {
  position: absolute;
  top: -45px;
  left: 0;
} */

@media (max-width: 576px) {
  .logo {
    font-size: 15px;
  }
  .title-date {
    font-size: 15px;
  }
  .icon {
    width: 20px;
    height: 20px;
    padding: 7px;
  }
  table {
    font-size: 13px;
  }
  table thead tr th .table-date {
    display: none;
  }
  /* .date {
    flex-direction: column;
  } */
}

.popup-edit-name {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000006f;
  z-index: 2365;
  align-items: center;
  justify-content: center;
}

.form-edit-name {
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  border-radius: 10px;
  padding: 10px;
}

.attendance-checkbox {
  appearance: none;
  -webkit-appearance: none;

  width: 17px;
  height: 17px;

  border: 2px solid #aaa;
  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  position: relative;
}

/* حاضر */
.attendance-checkbox:checked {
  background: #0d6efd;
  border-color: #0d6efd;
}

.attendance-checkbox:checked::after {
  content: "✓";
  color: white;
  font-size: 13px;
  font-weight: bold;
}

/* اليوم خلص + غياب */
.attendance-checkbox.day-finished-absent {
  background: #ef4444;
  border-color: #ef4444;
}

.attendance-checkbox.day-finished-absent::after {
  content: "×";
  color: white;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
}
